*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.hide {
    display: none;
}

header {
    border: 3px solid black;
    padding: 15px 5px 15px 20px;
    margin: 8px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#nav-list {
    display: flex;
    list-style-type: none;
}

.bordered {
    border-right: 2px solid black;

}
.nav-item {
    padding: 0 5px;
}

#time-slot {
    float: right;
    margin-right: 8px;
}